/* Add your default styles here */
body {
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f8f8f8; /* Light mode background color */
    color: #333; /* Light mode text color */
    overflow: hidden; /* Hide scrollbar */
    position: relative;
}

.section {
    color: black; /* Default text color */
    position: relative;
    z-index: 2; /* Place sections above other content */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-content {
    text-align: left;
    margin-left: 5%;
    top:50%;
    transform: translateY(-50%); 
    line-height: 5%;
    position: absolute;
    z-index: 2; /* Place slide content above other content */
}

.start-content img {
    width: 150px;
    height: 150px;
}

.dark-mode .start-content{
    color:white;
}

.skills-container{
    max-width: 50%;
    left: 50%;
}

.progress-bar-container {
    max-width: 30%;
    margin-left: 38%;
}

.icon {
    margin-right: 10px; /* Adjust margin as needed */
}

@keyframes fillAnimation {
    from{
        width: 0;
    }
    to {
        width: var(--progress-width, 0);
    }
}
.progress-bar {
    width: var(--progress-width, 0);
    max-width: 100%;
    animation: fillAnimation 2s ease-out forwards; /* Use 'forwards' to retain the final state of the animation */
}

.projects-content, .about-content{
    text-align: left;
    margin-left:35%;
    max-width: 50%;
    max-height: 100%;
    position: relative;
    z-index: 2; /* Place slide content above other content */
}

.contact-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contact-content h1{
    font-weight: bold;
    text-decoration: underline;
    color: #333; 
}

.contact-content h1 a {
    color: inherit; /* Inherit text color from the parent */
    text-decoration: inherit; /* Inherit text decoration from the parent */
}

.dark-mode .contact-content h1 a{
    color:#f8f8f8;
}

#darkModeBtn {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 25px;
    left: 25px;
    background-color: #8c8c8c66;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    z-index: 2; /* Place button above other content */
}
.fp-section {
    background-color: #f8f8f8; /* Light mode slide background color */
    color: #333; /* Light mode slide text color */
    transition: background-color 0.5s, color 0.5s; /* Add transition properties */
}

/* Add dark mode styles here */
.dark-mode .fp-section {
    background-color: #242424 !important;
    color: #fff !important;
    transition: background-color 0.5s, color 0.5s; /* Add transition properties */
}


.dark-mode #fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: white;
}

@media (max-width: 768px) {
    .start-content {
        margin-left: 5%;
        max-width: 30%;
        line-height: 100%; /* Adjust the margin for smaller devices */
    }

    .start-content img {
        width: 100px; /* Adjust the image size for smaller devices */
        height: 100px;
    }

    .progress-bar-container {
        max-width: 40%;
        margin-left: 40%;
    }

    .projects-content{
        margin-left:40%;
        max-width: 50%;
    }
    .accordion-body {
        overflow-y: auto; /* Enable vertical scrollbar */
        max-height: 200px; /* Set the maximum height for scrolling */
    }
}