@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #1c8cc0;
    --text-color: #444;
    --bg-color: #f8f8f8;
    --dark-bg-color: #242424;
    --dark-text-color: #fff;
}

body {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s, color 0.5s;
}

.section {
    position: relative;
}

.my-container {
    text-align: left;
    margin-left: 10%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 2;
}

.my-container h1,
.my-container h2,
.my-container p {
    margin-bottom: 0;
    line-height: 1;
}

.my-container h1 {
    font-size: 2.5em;
}

.my-container h2 {
    font-size: 1.5em;
}

.my-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.projects-container {
    text-align: left;
    margin-left: 30%;
    max-width: 60%;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 2;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #9a9a9a;
    transition: background-color 0.5s, color 0.5s;
    clip-path: inset(0 round 20px);
}

.tech-stack-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Add some space between columns */
}

.tech-stack {
    flex-basis: calc(50% - 10px); /* Adjust for the gap */
    list-style-type: disc;
    padding-left: 20px; /* Add some padding for the list bullets */
}

.projects-container h2 {
    color: var(--text-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    max-height: 100%;
    overflow-y: auto;
}

.card:hover .card-content,
.card:focus-within .card-content {
    transform: translateY(0);
}

.card-content h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.card-content p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.card-content a {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card a:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.card a:active {
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.card:hover img {
    transform: scale(1.1);
}

.about-container,
.blog-container {
    position: relative;
    display: none;
    overflow-y: hidden;
    text-align: left;
    margin-left: 35%;
    max-height: 30%;
    max-width: 50%;
    z-index: 2;
    padding: 20px;
    border: 1px solid #000;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s, color 0.5s;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.visible {
    animation: expandHeight 1s ease;
    display: flex;
    flex-direction: column;
    max-height: 60%;
}

.breadcrumb-item a {
    font-weight: normal;
    font-style: normal;
    color: var(--text-color);
}

.breadcrumb-item a:hover {
    color: var(--primary-color);
}

@keyframes expandHeight {
    from { max-height: 30%; }
    to { max-height: 60% }
}

.contact-container {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

.contact-content h1 {
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    color: var(--text-color);
}

.contact-content h1 a {
    color: inherit;
    text-decoration: inherit;
    transition: color 0.5s;
}

.contact-content h1 a:hover {
    color: var(--primary-color);
    text-decoration: inherit;
}

#darkModeBtn {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 25px;
    right: 25px;
    background-color: #8c8c8c66;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#darkModeBtn i {
    margin: 0;
}

.fp-section {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}


/* Dark Mode */
body.dark-mode {
    --text-color: var(--dark-text-color);
    --bg-color: var(--dark-bg-color);
}

.dark-mode .navbar {
    background-color: rgba(91, 91, 91, 0.127) !important;
    color: #fff !important;
}

.dark-mode .fp-section {
    background-color: var(--dark-bg-color) !important;
}

.dark-mode #fp-nav ul li a span,
.dark-mode .fp-slidesNav ul li a span {
    background: white;
}

.dark-mode .contact-content h1 a:hover {
    color: rgb(17, 0, 255);
}

.dark-mode .social-icons a {
    color: white;
}

.dark-mode .card {
    background-color: var(--dark-bg-color);
}

.dark-mode .projects-container {
    background-color: var(--dark-bg-color);
    border-color: #555;
}

/* Optional: Adjust the card content link color for better visibility */
.dark-mode .card-content a {
    background-color: var(--primary-color);
    color: var(--dark-text-color);
}

.dark-mode .card-content a:hover {
    filter: brightness(1.2);
}

.dark-mode .breadcrumb-item + .breadcrumb-item::before {
    color: var(--dark-text-color);
}


.social-icons a {
    color: #1f1f1f;
    text-decoration: none;
    transition: color 0.5s;
    font-size: medium;
}

.dark-mode .about-container,
.dark-mode .blog-container,
.dark-mode .projects-container {
    border: 1px solid #f1ce89;
    scrollbar-color: rgba(196, 196, 196, 0.5) transparent;
}

#threeCanvas {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    width: 450px;  /* Match the width of your Three.js scene */
    height: 100px; /* Match the height of your Three.js scene */
    border-radius: 20px;
    overflow: hidden;
}

#p5-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px;
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

@media (max-width: 768px) {
    .navbar {
        background-color: rgba(222, 222, 222, 0.123) !important;
        color: #000000 !important;
    }

    .container-fluid {
        display: flex;
        align-items: center;
    }

    .container-fluid img.profile-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .container-fluid h1 {
        position: absolute;
        left: 70px;
        font-size: 22px;
        margin: 0;
    }

    .projects-container {
        margin: 0 auto;
        max-width: 90%;
        max-height: 600px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .card {
        width: auto;
    }

    .about-container,
    .blog-container {
        max-width: 80%;
        margin: 0 auto;
        margin-top: 0%;
        overflow-x: hidden;
        overflow-y: visible;
    }
    
    .blog-container.chrome-specific {
        position: absolute;
        margin-top: 0;
        margin-left: 10%;
    }

    .blog-img-flex {
        display: grid;
    }

    .blog-img-flex img {
        width: 50%;
        height: 50%;
    }

    .accordion-body {
        overflow-y: auto;
        max-height: 300px;
    }

    .contact-container {
        margin-left: 0%;
    }

    #fp-nav {
        z-index: 9001;
        margin-top: -2%;
        position: absolute;
        margin-right: 20px;
        top: 0;
        transform: rotate(270deg);
    }
    #threeCanvas {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}