<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
</head>
<body>
    <main>
        <section id="skills">
            <h2>Skills</h2>
            <div class="nested-two-column-layout">
                <ul class="skills-list">
                    <li><span class="iconify" data-icon="ph:sun-horizon"></span> Sustainable Development</li>
                    <li><span class="iconify" data-icon="ph:plant"></span> Green Technologies</li>
                    <li><span class="iconify" data-icon="ph:wind"></span> Clean Architecture</li>
                    <li><span class="iconify" data-icon="carbon:ibm-deployable-architecture"></span> Solution Architecture</li>
                    <li><span class="iconify" data-icon="carbon:ai-status"></span> Prompt Engineering</li>
                    <li><span class="iconify" data-icon="clarity:ci-cd-line"></span> DevOps CI/CD </li>
                    <li><span class="iconify" data-icon="tabler:stack-2-filled"></span> Full Stack Development</li>
                </ul>
                <ul class="skills-list">
                    <li><span class="iconify" data-icon="devicon-plain:csharp"></span> C#</li>
                    <li><span class="iconify" data-icon="arcticons:coding-python"></span> Python</li>
                    <li><span class="iconify" data-icon="simple-icons:react"></span> React</li>
                    <li><span class="iconify" data-icon="mdi:aws"></span> AWS</li>
                    <li><span class="iconify" data-icon="devicon-plain:docker"></span> Docker</li>
                    <li><span class="iconify" data-icon="mdi:kubernetes"></span> Kubernetes</li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>
